{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Neuro Traffic{% endblock %}</title>
  {% tailwind_css %}
  {% block extra_css %}{% endblock %}
</head>
<body class="bg-gray-950 text-gray-100 min-h-screen">

  {% include "partials/navbar.html" %}

  <main class="max-w-7xl mx-auto px-4 py-8">
    {% block content %}{% endblock %}
  </main>

  {% block extra_js %}{% endblock %}
</body>
</html>